*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.corpo{
   font-family: 'Poppins', sans-serif;
   padding: 20px;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
}

.Principal{
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.pri{
   width: calc((100%/3)- 60px);
   margin: 8px;
}

.Principal .card{
   width: 23rem;
}

.Principal img{
   height: 200px;
}


.Hogwarts{
   width: calc(2*100%/3);
   display: flex;
   flex-wrap: wrap;
   float: left;
}

.hog{
   margin: 10px;
}

.Hogwarts .card{
   width: 43rem;
}

.Hogwarts img{
   height: 350px;
}

.Extra{
   width: calc(100%/3);
   display: flex;
   flex-wrap: wrap;
}

.ex{
   width: 100%;
   margin: 10px;
}

.Extra .card{
   width: 22rem;
}

.Extra img{
   height: 180px;
}

h2{
   text-align: center;
}

nav{
   height: 75px;
   background: #1B1A17;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 50px 0px 100px;
   font-family: 'Poppins', sans-serif;
   text-decoration: none;
}

nav a{
   text-decoration: none;
}


nav .logo{
   font-size: 35px;
   background-image: linear-gradient(#4c60f3, #973dd3);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-weight: 600;
   font-family: "FORTE", cursive;
}

nav .logo i{
   background-image: linear-gradient(#4c60f3, #973dd3);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   text-decoration: none;
}

nav ul{
   display: flex;
   list-style: none;
   text-decoration: none;
}

nav ul li{
   margin: 0 5px;
   text-decoration: none;
}

nav ul li a{
   color: white;
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   padding: 8px 10px;
   border-radius: 5px;
   transition: all 0.3s ease;
}

nav ul li a:hover{
   color: #973dd3;
   text-decoration: none;
}

nav .menu-btn i{
   color: white;
   font-size: 22px;
   cursor: pointer;
   display: none;
}

#click{
   display:none;
}

.fundebas{
   height: 130px;
}

footer{
   height: 50px;
   background: #1B1A17;
   padding: 10px;
   float:inline-end;
}

footer p{
   background-image: linear-gradient(#4c60f3, #973dd3);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-size: 20px;
   font-family: "FORTE", cursive;
}


@media (max-width: 940px){
   nav{
      z-index: 2;
   }

   nav .menu-btn i{
      display: block;
   }

   #click:checked ~ .menu-btn i:before{
      content: "\f00d";
      display: block;
   }

   nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      display: block;
      text-align: center;
      transition: all 0.3s ease;
   }

   #click:checked ~ul{
      left: 0%;
   }

   nav ul li{
      margin: 40px 0;
   }

   nav ul li a{
      font-size: 20px;
      display: block;
   }

   nav ul li a:hover{
      color: #973dd3;
      background: none;
   }

   .card{
      margin-left: auto;
      margin-right: auto; 
      justify-content: center;
   }

   .card{
      z-index: -50;
      width: 20rem;
   }

   .Hogwarts{
      width: 100%;
      float: none;
   }

   .hog{
      width: 100%;
   }

   .ex{
      width: 100%;
   }

   .Extra{
      width: 100%;
   }

   .Principal .card{
      width: 20rem;
   } 

   .Hogwarts .card{
      width: 20rem;
   } 

   .Extra .card{
      width: 20rem;
   } 

   .fundebas{
      height: 0px;
   }
   
   .Principal img, .Hogwarts img, .Extra img{
      height: 150px;
   }

   .active{
      display: none;
   }

   .inactive{
      display: block;
   }
}

@media (max-width: 760px){
   nav .logo{
      font-size: 25px;
   }

   #barra{
      font-size: 20px;
   }

   .fundebas{
      height: 0px;
   }
}