.form{
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    padding: 20px;
    border-radius: 5px;
    background-image: linear-gradient(#4c73f3, #b023db);
    color: white;
    font-family: "FORTE", cursive;
}

h1{
    text-shadow: 0.1em 0.1em 0.2em black
}